{% extends 'base.html.twig' %}

{% block title %}RDV{% endblock %}

{% block body %}
<div style= "display: flex; align-items: center;justify-content:center; margin-top:100px;padding:10px;">
    <div>
    {% for message in app.flashes('info')  %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('info-edit')  %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('info-delete')  %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
</div>
    <div><div>
    <h5 class="card-title">Liste des RDV</h5>

    <br>
    <h1>RDV index</h1>
    </div>
    <a href="{{ path('app_RDV_new') }}" class="btn btn-info" >Create new</a>
    <div id="divs">
        <input class="form-control" type="text" id="search" placeholder="🔍">
        <a style="color:#FF0000;" class="tg-btn" href="" id="idup">UP ⬆️</a>
        <a style="color:#25DD28;" class="tg-btn" href="" id="iddown">DOWN ⬇️</a>
    </div>
<div>
    <table id="t" class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Patient</th>
            <th>Date</th>
            <th>Category</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody id="all">
        {% for r in RDVs %}
            <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.nom }}</td>
                <td>{{ r.idpatient }}</td>
                <td>{{ r.dateR ? r.dateR|date('Y-m-d') : '' }}</td>
                <td>
                    <a  href="{{ path('app_RDV_edit', {'id': r.id}) }}" class="btn btn-warning" >Edit</a>
                    <a  href="{{ path('app_RDV_delete', {'id': r.id}) }}" class="btn btn-danger" >Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tbody id="search">
        </tbody>

    </table>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {

            /*begin rechercher avancee multicritéres selon sujet et staus*/
            $("#divs").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $("#search").val();
                if(value.length >= 2 || value.length == 0  )
                {
                    //    alert(value);
                    /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                    $.ajax({
                        /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                        url : "{{ path('search_RDV') }}",
                        /* La méthode utilisée pour transférer les données est GET */
                        type : 'GET',
                        /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                        data: {
                            'searchValue' : value,
                        },
                        /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                        success : function(retour){
                            if(retour){
                                $('#t tbody#search').empty();
                                $.each(JSON.parse(retour), function(i, obj) {
                                    $('#t tbody#all').hide();
                                    $('#t tbody#search').append('' +
                                        '<tr>' +
                                        '   <td> '+obj.id +'  </td>' +
                                        '   <td> '+obj.nom+'  </td>' +
                                        '   <td> '+obj.idpatient+'  </td>' +
                                        '   <td> '+obj.dateR.substring(0,10)+' </td>' +
                                        '   <td>'+obj.Category.nom+'</td>' +
                                        '   <td>' +
                                        '       <a  href="RDV/'+obj.id +'/edit" class="btn btn-warning" >Edit</a>' +
                                        '       <a  href="RDV/delete/'+obj.id +'" class="btn btn-danger" >Delete</a>' +
                                        '   </td>' +
                                        '</tr>');

                                });
                            }
                            else
                            {

                                $('#t tbody#all').show();
                                $('#t tbody#search').empty();
                                $('#t tbody#search').fadeIn('fast');

                            }
                        },
                    });
                    return false;
                }
            });
            /*end rechercher avancee multicritéres selon sujet et staus*/


            /*begin trie up selon id*/
            $("#idup").click(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $("#search").val();
                var value3 ="ASC";

                //    alert(value);
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('search_RDV') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value,
                        'orderid': value3
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append(
                                    '<tr>' +
                                    '   <td> '+obj.id +'  </td>' +
                                    '   <td> '+obj.nom+'  </td>' +
                                    '   <td> '+obj.idpatient+'  </td>' +
                                    '   <td> '+obj.dateR.substring(0,10)+' </td>' +
                                    '   <td>'+obj.Category.nom+'</td>' +
                                    '   <td>' +
                                    '       <a  href="RDV/'+obj.id +'/edit" class="btn btn-warning" >Edit</a>' +
                                    '       <a  href="RDV/delete/'+obj.id +'" class="btn btn-danger" >Delete</a>' +
                                    '   </td>' +
                                    '</tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;

            });
            /*end trie up selon id*/

            /*begin trie down selon id*/
            $("#iddown").click(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $("#search").val();
                var value3 ="DESC";

                //    alert(value);
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('search_RDV') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value,
                        'orderid': value3
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append(
                                    '<tr>' +
                                    '   <td> '+obj.id +'  </td>' +
                                    '   <td> '+obj.nom+'  </td>' +
                                    '   <td> '+obj.idpatient+'  </td>' +
                                    '   <td> '+obj.dateR.substring(0,10)+' </td>' +
                                    '   <td>'+obj.Category.nom+'</td>' +
                                    '   <td>' +
                                    '       <a  href="RDV/'+obj.id +'/edit" class="btn btn-warning" >Edit</a>' +
                                    '       <a  href="RDV/delete/'+obj.id +'" class="btn btn-danger" >Delete</a>' +
                                    '   </td>' +
                                    '</tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;

            });
            /*end trie down selon id*/
        });
    </script>
    </div>


{% endblock %}
